html, body 
{
    margin: 0;
    height: 100%;
    overflow: hidden
}

body
{
    width: 500px;
    margin: 0;
}
.graph
{
    box-sizing: border-box;
    width: 100%;
    padding: 0.5em;

}
.info
{
    display: flex;
    width: 100%;
}
.info > *
{
    display: flex;
}
div.bar
{
    box-sizing: border-box;
    display: block;
    padding-left: 1em;
    width: 100%;
}

div.usage
{
    display: inline-block;
    text-align: center;
    background-color: lightseagreen;
}

.info div.interval
{
    width: 4em;
}

.average
{
    
    padding: 0;
    position: relative;
    top: -25px;
    left: -1px;
    z-index: 1;
    height: 27px;
    border-right: 2px solid purple;
    display: inline-block;
}
.point
{
    height: 0;
    width: 0;
}
.graph_keys
{
    display : flex;
    align-items : center;
    padding-left: 5em;
}
.graph_key
{

  height: 0.75em;
  width: 0.75em;
  margin : 0 5px;
}
.total_color
{
    background-color: lightseagreen;
}
.average_color
{
    background-color: purple;
}
/* css from https://getcssscan.com/css-buttons-examples type 26  with some tweaking*/
button 
{
  appearance: button;
  background-color: #1652F0;
  border: 1px solid #1652F0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Graphik,-apple-system,system-ui,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-size: 14px;
  line-height: 1.15;
  overflow: visible;
  padding: 12px 16px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
}

button:disabled {
  opacity: .5;
}

button:focus {
  outline: 0;
}

button:hover {
  background-color: #0A46E4;
  border-color: #0A46E4;
}

button:active {
  background-color: #0039D7;
  border-color: #0039D7;
}

#show_detailed      
{
    padding: 3.5px 8px;
    margin-left: auto;
    margin-right: 1em;
}